body {
  background-color: white;
  width: 95%;
  margin: 0 auto;
  color: black;
}
#total {
  background-color: antiquewhite;
  width: 70%;
  margin: 0 auto;
}

header {
  font-family: fantasy;
  font-size: 30px;
  text-align: center;
  padding:10px 0;
}

#addTodo, #main, #footButtons {
  width: 80%;
  margin: 5px auto;
}

#addTodo input {
  width: 85%;
  padding: 5px;
  margin:5px;
}

#addTodo button{
  display: inline-block;
  margin: 5px;
  padding: 3px 5px;
}

#todoList {
  list-style-type: circle;
}

#todoList li:hover span {
visibility: visible;
}

#todoList li:hover {
  border-bottom:solid 1px rgb(131, 110, 110);
}

#todoList .completed {
  list-style-type: disc;
  text-decoration: line-through;
  color: gray;
}

#todoList span{
  visibility: hidden;
}

#main li {
  width: 90%;
}
#main span {
  float: right;
}

#leftItems {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

#footButtons input {
  display: inline-block;
  padding: 5px 10px;
  margin: 10px 20px;
}

#clearCompleted {
  visibility: hidden;
}

#deleteMarks {
  visibility: visible;
}